# Ignore all third party code.
vendor/

# Ignore database config.
php/DatabaseConfig.php

error_log
.htaccess
.buildpath
.project
.settings/
*.log
python/.idea/
python/__pycache__/
python/venv/
python/config.py
